table {
    border: 2px black solid;
    border-collapse: collapse;
    margin: auto;
}

td {
    border: 2px black solid;
    text-align: center;
    width: 40px;
    height: 40px;
}

#pantalla {
    text-align: right;
    padding-right: 10px;
    background: rgba(0, 128, 0, 0.3)
}

.boton {
    background-image: linear-gradient(aquamarine, purple ) ;
}