table {
    border: 2px black solid;
    border-collapse: collapse;
    margin: auto;
}

td {
    border: 2px black solid;
    text-align: center;
    width: 40px;
    height: 40px;
}

#pantalla {
    text-align: right;
    padding-right: 10px;
    background: rgb(140, 171, 192)
}

.boton {
    background-image: linear-gradient(rgb(66, 165, 204), rgb(199, 203, 253) ) ;
}

body {
    background:rgb(140, 171, 192);
}